<div class="uk-container uk-container-xsmall">
  <div class="inline">
    <div style="display: flex;">
      <img src={{logo}} class="logo" alt="logo">
      <p class="title">Rismed</p>
    </div>
  </div>
  
  <mat-tab-group style="display: inline-block;"  mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/" style="width: 110px; color: black;">
          <mat-icon class="example-tab-icon">home</mat-icon>
        </a>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/userList" style=" width: 110px; color: black;">
          <mat-icon class="example-tab-icon">view_list</mat-icon>
        </a>
      </ng-template>
    </mat-tab> 
  
    <mat-tab>
      <ng-template mat-tab-label>
        <a routerLink="/tag" style="width: 110px; color: black;">
          <mat-icon class="example-tab-icon">label</mat-icon>
        </a>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<router-outlet></router-outlet>

