.cardContainer {
    border-radius: 3px;
    width: 500px;
    text-align: center;
  }
.imageProfile {
    max-width: 250px;
    height: 200px;
    border-radius: 5px;
}
.cardContent {
    width: 320px;
    text-align: left;
}
.pict2 {
    width: 30px;
}
.capitalized {
    text-transform: capitalize;
}